<div class="effects">
    <ol class="effects-list">
        <li class="effects-header flexrow">
            <h3 class="effect-name flexrow">Effect</h3>
            <div class="effect-duration">Duration</div>
            <div class="effect-changes">Changes</div>
            <a class="effect-controls effect-control" title="Add Effect" data-action="create">
                <span class="active">
                    <i class="fas fa-plus"></i>
                    Add
                </span>
            </a>
        </li>

        <ol class="effect-list item-list">
            {{#if effects}}
            {{#each effects as |effect id|}}
            <li class="effect {{#if effect.disabled}}disabled{{/if}} flexrow" data-effect-id="{{ effect.id }}">
                <div class="effect-name flexrow">
                    <div class="effect-image" style="background-image: url('{{ effect.img }}')"></div>
                    <h4>{{ effect.name }}</h4>
                </div>
                <div class="effect-ele effect-duration">{{ effect.duration.label }}</div>
                <div class="effect-ele effect-changes">{{ effect.changes }}</div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="toggle">
                        <i class="{{#unless (or effect.disabled hasActor)}}active{{/unless}} fas fa-circle-notch"></i>
                    </a>
                    <a class="effect-control" data-action="edit">
                        <i class="{{#unless hasActor}}active{{/unless}} fas fa-edit"></i>
                    </a>
                    <a class="effect-control" data-action="delete">
                        <i class="{{#unless hasActor}}active{{/unless}} fas fa-trash"></i>
                    </a>
                </div>
            </li>
            {{/each}}
            {{else}}
            <li class="effect flexrow">
                <div class="effect-name flexrow">
                    <div class="effect-image" />
                    <h4>No effects</h4>
                </div>
            </li>
            {{/if}}
        </ol>
    </ol>
</div>
