<div class="macros">
    <div class="flexrow">
        <input
            class="macros-name-filter"
            type="text"
            name="system.macrosNameFilter"
            placeholder="Filter macros by name..."
            data-dtype="String" />
    </div>
    <ol class="macros-list">
        <li class="macros-header flexrow">
            <h3 class="macro-name flexrow">
                Macro {{!--
                <a
                    class="more-info"
                    data-journal-entry="Sheet - Macro Tab">
                    <i class="far fa-question-circle"></i>
                </a>
                --}}
            </h3>
            <div class="macro-source">Type</div>
            <!-- <div class="macro-duration">Trigger</div> -->
            <div class="macro-changes">Trigger</div>
            <a
                class="macro-controls macro-control"
                title="Add Macro"
                data-action="create">
                <span class="active">
                    <i class="fas fa-plus"></i>
                    Add
                </span>
            </a>
        </li>
        <ol class="macro-list item-list">
            {{#each aproxy.macrolist as |macro|}}
            <li
                class="macro {{#if disabled}}disabled{{/if}} flexrow"
                data-macro-name="{{ name }}"
                data-macro-id="{{ id }}">
                <div class="macro-name flexrow">
                    <div
                        class="macro-image"
                        style="background-image: url('{{ img }}')"></div>
                    <h4>{{ name }}</h4>
                </div>
                <div class="macro-ele macro-source">{{ type }}</div>
                <!-- <div class="macro-ele macro-duration">{{macro.trigger}}</div> -->
                <div class="macro-ele macro-changes">{{ trigger }}</div>
                <div class="macro-controls">
                    <!-- <a class="macro-control" data-action="toggle"><i class="{{#unless macro.disabled}}active{{/unless}} fas fa-circle-notch"></i></a> -->
                    <a
                        class="macro-control"
                        aria-label="Edit Macro"
                        data-tooltip="Edit Macro"
                        data-tooltip-direction="UP"
                        data-action="edit">
                        <i class="active fas fa-edit"></i>
                    </a>
                    <a
                        class="macro-control"
                        aria-label="Delete Macro"
                        data-tooltip="Delete Macro"
                        data-tooltip-direction="UP"
                        data-label="{{ macro.name }} Macro"
                        data-action="delete">
                        <i class="active fas fa-trash"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
    </ol>
</div>
