<form
    id="document-create actor-create"
    autocomplete="off">
    <div class="form-group">
        <label for="name">{{localize 'Name'}}</label>
        <div class="form-fields">
            <input
                type="text"
                id="name"
                name="name"
                placeholder="{{ name }}"
                required />
        </div>
    </div>

    {{#if hasTypes}}
    <div class="form-group">
        <label for="type">{{localize 'Type'}}</label>
        <div class="form-fields">
            <select
                id="type"
                name="type">
                {{selectOptions types selected=type}}
            </select>
        </div>
    </div>
    {{/if}}

    {{#if hasFolders}}
    <div class="form-group">
        <label for="folder">{{localize 'DOCUMENT.Folder'}}</label>
        <div class="form-fields">
            <select
                id="folder"
                name="folder">
                {{selectOptions folders selected=folder blank='' valueAttr='id' labelAttr='name'}}
            </select>
        </div>
    </div>
    {{/if}}

    <div class="form-group">
        <label class="init-checkbox">Initialize default skills &amp; locations</label>
        <input
            type="checkbox"
            name="initDefaults"
            checked />
    </div>
</form>
