<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ name }}" disabled />
    </div>

    <div class="form-group">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="{{ type }}" disabled />
    </div>

    <div class="form-group">
        <label for="formula">Formula:</label>
        <input type="text" id="formula" name="formula" value="{{ formula }} ({{ minimum }} &rarr; {{ maximum }})" disabled />
    </div>

    {{#if target}}
    <div class="form-group">
        <label for="target">Target:</label>
        <input type="text" id="target" name="target" value="{{ target }}" disabled />
    </div>
    {{/if}}
</form>
