<form>
    {{#if isMentalConflict}}
    <div class="form-group">
        <label for="mentalConflictType">Type:</label>
        <select id="mentalConflictType" name="mentalConflictType">
            {{selectOptions mentalConflictTypes selected=mentalConflictType valueAttr='key' labelAttr='label'}}
        </select>
    </div>
    {{/if}}

    {{#if distance}}
    <div class="form-group">
        <label>Distance:</label>
        {{#if isGridDistanceUnits}}
        <span>{{ distanceGrid }} hex</span>
        {{else}}
        <span>{{ distance }} ft</span>
        {{/if}}
    </div>
    {{/if}}

    <div class="form-group">
        <label for="addlModifier">Additional {{ type }} Modifier:</label>
        <input type="number" id="addlModifier" name="addlModifier" value="{{ defaultModifier }}" />
    </div>
</form>
