{{#if hasRwPermission}}
<div class="resource artifact flexrow" id="armorgear-isarcane">
    <input
        type="checkbox"
        id="system.arcane.isArtifact"
        name="system.arcane.isArtifact"
        value="{{ idata.arcane.isArtifact }}"
        data-dtype="Boolean"
        {{checked
        idata.arcane.isArtifact}} />
    <label for="system.arcane.isArtifact" class="resource-label">Artifact</label>
</div>

{{#if idata.arcane.isArtifact}}
<fieldset id="armorgear-artifact">
    <legend>Artifact Properties</legend>
    <div class="resource artifact flexrow">
        <input
            type="checkbox"
            id="system.arcane.isOwnerAware"
            name="system.arcane.isOwnerAware"
            value="{{ idata.arcane.isOwnerAware }}"
            data-dtype="Boolean"
            {{checked
            idata.arcane.isOwnerAware}} />
        <label for="system.arcane.isOwnerAware">Is owner aware of Artifact?</label>
    </div>

    <div class="grid grid-fixed-row grid-2col">
        <label for="system.arcane.type">Artifact Type</label>
        <select class="value" id="system.arcane.type" name="system.arcane.type" data-dtype="String">
            {{selectOptions arcane.choices selected=idata.arcane.type valueAttr="key" labelAttr="key"}}
        </select>
    </div>
    {{#if (eq idata.arcane.type 'Minor')}}
    <fieldset id="armorgear-minor-artifact">
        <legend>Minor Artifact Power</legend>
        <div class="grid grid-fixed-row grid-2col">
            <div class="resource">
                <label for="system.arcane.minor.power" class="resource-label">Minor Artifact Power</label>
                <select class="value" id="system.arcane.minor.power" name="system.arcane.minor.power" data-dtype="String">
                    {{selectOptions arcane.powers selected=idata.arcane.minor.power valueAttr="key" labelAttr="label"}}
                </select>
            </div>
            <div class="resource">
                <label for="system.arcane.minor.duration" class="resource-label">Minor Artifact Duration</label>
                <select class="value" id="system.arcane.minor.duration" name="system.arcane.minor.duration" data-dtype="String">
                    {{selectOptions arcane.durations selected=idata.arcane.minor.duration valueAttr="key" labelAttr="key"}}
                </select>
            </div>
            <label for="system.arcane.minor.isOwnerAware">Is owner aware of Minor Power?</label>
            <input
                class="value"
                type="checkbox"
                id="system.arcane.minor.isOwnerAware"
                name="system.arcane.minor.isOwnerAware"
                value="{{ idata.arcane.minor.isOwnerAware }}"
                data-dtype="Boolean"
                {{checked
                idata.arcane.minor.isOwnerAware}} />
        </div>
        <div class="grid grid-fixed-row grid-1col">
            <div class="resource">
                <label for="arcane.description" class="resource-label">Description</label>
                <div class="value" id="arcane.description">{{{arcane.description}}}</div>
            </div>
        </div>
    </fieldset>
    {{else}}
    <fieldset id="armorgear-minor-artifact">
        <legend>Major Artifact Powers</legend>
        <div class="grid grid-fixed-row grid-3col">
            <div class="resource" id="armorgear-artifact-isattuned">
                <input
                    type="checkbox"
                    name="system.arcane.isAttuned"
                    value="{{ idata.arcane.isAttuned }}"
                    data-dtype="Boolean"
                    {{checked
                    idata.arcane.isAttuned}} />
                <label class="resource-label">Attuned</label>
            </div>
            <div class="resource" id="armorgear-artifact-charges">
                <label class="resource-label">Charges</label>
                <input type="number" name="system.arcane.charges" value="{{ idata.arcane.charges }}" data-dtype="Number" />
            </div>
            <div class="resource" id="armorgear-artifact-ego">
                <label class="resource-label">Ego/Will</label>
                <input type="number" name="system.arcane.ego" value="{{ idata.arcane.ego }}" data-dtype="Number" />
            </div>
        </div>
        <div class="grid grid-fixed-row grid-2col">
            <label for="system.arcane.majorPower">Major Artifact Power</label>
            <select class="value" id="system.arcane.majorPower" name="system.arcane.majorPower" data-dtype="String">
                {{selectOptions arcane.powers selected=idata.arcane.majorPower valueAttr="key" labelAttr="label"}}
            </select>
        </div>
    </fieldset>
    {{/if}}
</fieldset>
{{/if}}
{{/if}}
