<form class="{{ cssClass }} sheet flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header sheet-header-character">
        <div class="flexrow">
            <img class="profile-img" src="{{ actor.img }}" data-edit="img" title="{{ actor.name }}" />
            <div class="flexcol header-fields">
                <div class="flexrow name-attribute">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{ actor.name }}" placeholder="Name" autocomplete="off" />
                    </h1>
                    <div class="header-stat-block">
                        <div class="penalties flexrow">
                            <div class="stat">UP: {{ adata.universalPenalty }}</div>
                            <div class="statend">PP: {{ adata.physicalPenalty }}</div>
                        </div>
                        <div class="endurance flexrow">
                            <span class="label">Shock Index: {{ adata.shockIndex.value }}</span>
                        </div>
                        <div class="endbar">
                            <span class="bar" style="width: {{ adata.shockIndex.value }}%"></span>
                        </div>
                    </div>
                </div>
                <div class="header-attributes">
                    <ol class="flexrow">
                        {{#if (eq chartype "Character")}}
                        <li class="attribute occupation flexcol">
                            <label for="system.occupation" class="label">Occupation</label>
                            <input
                                class="value"
                                type="text"
                                id="system.occupation"
                                name="system.occupation"
                                value="{{ adata.occupation }}"
                                data-dtype="String" />
                        </li>
                        {{/if}}
                        {{#if (eq chartype "Creature")}}
                        <li class="attribute creature-species flexcol">
                            <label for="system.species" class="label">Species</label>
                            <input
                                class="value"
                                type="text"
                                id="system.species"
                                name="system.species"
                                value="{{ adata.species }}"
                                data-dtype="String" />
                        </li>
                        <li class="attribute creature-size flexcol">
                            <label for="system.size" class="label">Size</label>
                            {{#if hasRwPermission}}
                            <select class="value" id="system.size" name="system.size">
                                {{selectOptions config.creatureSizes selected=adata.size valueAttr="key" labelAttr="label"}}
                            </select>
                            {{else}}
                            <select class="value" id="system.size" name="system.size" disabled>
                                {{selectOptions config.creatureSizes selected=adata.size valueAttr="key" labelAttr="label"}}
                            </select>
                            {{/if}}
                        </li>
                        <li class="attribute flexcol"></li>
                        {{/if}}
                        <li class="attribute move flexcol">
                            <label for="system.move.base" class="label">Move</label>
                            <div class="flexrow move-values">
                                <span class="move-eff">{{ adata.move.effective }}</span>
                                <span class="sep">/</span>
                                <input
                                    class="move-base"
                                    type="number"
                                    id="system.move.base"
                                    name="system.move.base"
                                    value="{{ adata.move.base }}"
                                    data-dtype="Number" />
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </header>

    {{#if isCharacterMancer}}
    <div style="color: red; text-align: center; font-size: larger; font-weight: bold; height: 30px; align-content: center; flex: unset">
        ................CHARACTER MANCER ACTIVE................
        <a class="character-mancer" title="Close Character Mancer" data-type="skill">Close</a>
    </div>
    {{/if}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="facade">Fa&#231;ade</a>
        <a class="item" data-tab="profile">Profile</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="inventory">Gear</a>
        {{#if (eq chartype "Character")}}
        <a class="item" data-tab="fff">FFF</a>
        {{/if}}
        <a class="item" data-tab="esoteric">Esoterics</a>
        <a class="item" data-tab="effects">Effects</a>
        {{#if hasRwPermission}}
        <a class="item" data-tab="macros">Macros</a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Facade Tab --}}
        <div class="tab facade" data-group="primary" data-tab="facade">
            <div class="flexrow">
                <img
                    class="facade-image"
                    src="{{ adata.bioImage }}"
                    data-edit="system.bioImage"
                    title="{{ actor.name }}"
                    height="300"
                    width="200" />
                <div class="facade-description">
                    {{editor descriptionHTML target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{> @partial-block}}

        {{!-- Magic/Religion Tab --}}
        <div class="tab esoteric items" data-group="primary" data-tab="esoteric">
            {{> char_esoteric_list_partial header="Magic Spells" type="Spell" dataType="spell" skillList=spellSkills}}
            {{> char_esoteric_list_partial header="Ritual Invocations" type="Invocation" dataType="invocation" skillList=invocationSkills}}
            {{> char_esoteric_list_partial header="Psionic Talents" type="Psionic" dataType="psionic" skillList=psionicSkills}}
        </div>

        {{!-- Friends, Foes & Followers Tab --}}
        <div class="tab f-f-f items" data-group="primary" data-tab="fff">
            <!-- Party -->
            <ol class="items-list fffs-list">
                <li class="items-header fff flexrow">
                    <h3 class="item-name fff-name">Party</h3>
                    <div class="item-detail fff-gender">Gender</div>
                    <div class="item-detail fff-occupation">Occupation</div>
                    <div class="item-detail fff-notes">Notes</div>
                    <div class="item-controls-wide">
                        <!-- <a class="item-control item-create active" title="Create Spell" data-type="spell"><i
                                class="fas fa-plus"></i> Add</a> -->
                    </div>
                </li>
                <ol class="item-list fff-list">
                    {{#each items as | item |}}
                    {{#if (eq item.type "companion")}}
                    {{#if (eq item.system.type "Party")}}
                    <li class="item fff flexrow" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}">
                        <div class="item-name fff-name fff-roll flexrow">
                            <div
                                id="companion"
                                class="item-image"
                                style="background-image: url('{{ item.img }}')"
                                data-item-actor-uuid="{{ item.system.actorUuid }}"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail fff-gender">{{ gender }}</div>
                        <div class="item-detail fff-occupation">{{ occupation }}</div>
                        <div class="item-detail fff-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            <a class="item-control item-edit" title="Edit Companion">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="Delete Companion" data-label="Companion">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>

            <!-- Animal Companions -->
            <ol class="items-list fffs-list">
                <li class="items-header fff flexrow">
                    <h3 class="item-name fff-name">Animal Companions</h3>
                    <div class="item-detail fff-gender">Gender</div>
                    <div class="item-detail fff-species">Species</div>
                    <div class="item-detail fff-notes">Notes</div>
                    <div class="item-controls-wide">
                        <!-- <a class="item-control item-create active" title="Create Spell" data-type="spell"><i
                              class="fas fa-plus"></i> Add</a> -->
                    </div>
                </li>
                <ol class="item-list fff-list">
                    {{#each items as | item |}}
                    {{#if (eq item.type "companion")}}
                    {{#if (eq item.system.type "Animal")}}
                    <li class="item fff flexrow" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}">
                        <div class="item-name fff-name fff-roll flexrow">
                            <div
                                id="companion"
                                class="item-image"
                                style="background-image: url('{{ item.img }}')"
                                data-item-actor-uuid="{{ item.system.actorUuid }}"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail fff-gender">{{ gender }}</div>
                        <div class="item-detail fff-species">{{ species }}</div>
                        <div class="item-detail fff-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            <a class="item-control item-edit" title="Edit Companion">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="Delete Companion" data-label="Companion">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>

            <!-- Steeds -->
            <ol class="items-list fffs-list">
                <li class="items-header fff flexrow">
                    <h3 class="item-name fff-name">Steeds</h3>
                    <div class="item-detail fff-gender">Gender</div>
                    <div class="item-detail fff-species">Species</div>
                    <div class="item-detail fff-notes">Notes</div>
                    <div class="item-controls-wide">
                        <!-- <a class="item-control item-create active" title="Create Spell" data-type="spell"><i
                            class="fas fa-plus"></i> Add</a> -->
                    </div>
                </li>
                <ol class="item-list fff-list">
                    {{#each items as | item |}}
                    {{#if (eq item.type "companion")}}
                    {{#if (eq item.system.type "Steed")}}
                    <li class="item fff flexrow" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}">
                        <div class="item-name fff-name fff-roll flexrow">
                            <div
                                id="companion"
                                class="item-image"
                                style="background-image: url('{{ item.img }}')"
                                data-item-actor-uuid="{{ item.system.actorUuid }}"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail fff-gender">{{ gender }}</div>
                        <div class="item-detail fff-species">{{ species }}</div>
                        <div class="item-detail fff-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            <a class="item-control item-edit" title="Edit Companion">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="Delete Companion" data-label="Companion">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>

            <!-- Followers -->
            <ol class="items-list fffs-list">
                <li class="items-header fff flexrow">
                    <h3 class="item-name fff-name">Followers</h3>
                    <div class="item-detail fff-gender">Gender</div>
                    <div class="item-detail fff-occupation">Occupation</div>
                    <div class="item-detail fff-notes">Notes</div>
                    <div class="item-controls-wide">
                        <!-- <a class="item-control item-create active" title="Create Spell" data-type="spell"><i
                                class="fas fa-plus"></i> Add</a> -->
                    </div>
                </li>
                <ol class="item-list fff-list">
                    {{#each items as | item |}}
                    {{#if (eq item.type "companion")}}
                    {{#if (eq item.system.type "Follower")}}
                    <li class="item fff flexrow" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}">
                        <div class="item-name fff-name fff-roll flexrow">
                            <div
                                id="companion"
                                class="item-image"
                                style="background-image: url('{{ item.img }}')"
                                data-item-actor-uuid="{{ item.system.actorUuid }}"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail fff-gender">{{ gender }}</div>
                        <div class="item-detail fff-occupation">{{ occupation }}</div>
                        <div class="item-detail fff-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            <a class="item-control item-edit" title="Edit Companion">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="Delete Companion" data-label="Companion">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>

            <!-- Connections -->
            <ol class="items-list fffs-list">
                <li class="items-header fff flexrow">
                    <h3 class="item-name fff-name">Noteworthy Connections</h3>
                    <div class="item-detail fff-gender">Gender</div>
                    <div class="item-detail fff-occupation">Occupation</div>
                    <div class="item-detail fff-notes">Notes</div>
                    <div class="item-controls-wide">
                        <!-- <a class="item-control item-create active" title="Create Spell" data-type="spell"><i
                              class="fas fa-plus"></i> Add</a> -->
                    </div>
                </li>
                <ol class="item-list fff-list">
                    {{#each items as | item |}}
                    {{#if (eq item.type "companion")}}
                    {{#if (eq item.system.type "Connection")}}
                    <li class="item fff flexrow" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}">
                        <div class="item-name fff-name fff-roll flexrow">
                            <div
                                id="companion"
                                class="item-image"
                                style="background-image: url('{{ item.img }}')"
                                data-item-actor-uuid="{{ item.system.actorUuid }}"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail fff-gender">{{ gender }}</div>
                        <div class="item-detail fff-occupation">{{ occupation }}</div>
                        <div class="item-detail fff-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            <a class="item-control item-edit" title="Edit Companion">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="Delete Companion" data-label="Companion">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>

            <!-- Friends -->
            <ol class="items-list fffs-list">
                <li class="items-header fff flexrow">
                    <h3 class="item-name fff-name">Noteworthy Friends</h3>
                    <div class="item-detail fff-gender">Gender</div>
                    <div class="item-detail fff-occupation">Occupation</div>
                    <div class="item-detail fff-notes">Notes</div>
                    <div class="item-controls-wide">
                        <!-- <a class="item-control item-create active" title="Create Spell" data-type="spell"><i
                            class="fas fa-plus"></i> Add</a> -->
                    </div>
                </li>
                <ol class="item-list fff-list">
                    {{#each items as | item |}}
                    {{#if (eq item.type "companion")}}
                    {{#if (eq item.system.type "Friend")}}
                    <li class="item fff flexrow" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}">
                        <div class="item-name fff-name fff-roll flexrow">
                            <div
                                id="companion"
                                class="item-image"
                                style="background-image: url('{{ item.img }}')"
                                data-item-actor-uuid="{{ item.system.actorUuid }}"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail fff-gender">{{ gender }}</div>
                        <div class="item-detail fff-occupation">{{ occupation }}</div>
                        <div class="item-detail fff-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            <a class="item-control item-edit" title="Edit Companion">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="Delete Companion" data-label="Companion">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>

            <!-- Foes -->
            <ol class="items-list fffs-list">
                <li class="items-header fff flexrow">
                    <h3 class="item-name fff-name">Noteworthy Foes</h3>
                    <div class="item-detail fff-gender">Gender</div>
                    <div class="item-detail fff-occupation">Occupation</div>
                    <div class="item-detail fff-notes">Notes</div>
                    <div class="item-controls-wide">
                        <!-- <a class="item-control item-create active" title="Create Spell" data-type="spell"><i
                          class="fas fa-plus"></i> Add</a> -->
                    </div>
                </li>
                <ol class="item-list fff-list">
                    {{#each items as | item |}}
                    {{#if (eq item.type "companion")}}
                    {{#if (eq item.system.type "Foe")}}
                    <li class="item fff flexrow" data-item-id="{{ item.id }}" data-item-name="{{ item.name }}">
                        <div class="item-name fff-name fff-roll flexrow">
                            <div
                                id="companion"
                                class="item-image"
                                style="background-image: url('{{ item.img }}')"
                                data-item-actor-uuid="{{ item.system.actorUuid }}"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail fff-gender">{{ gender }}</div>
                        <div class="item-detail fff-occupation">{{ occupation }}</div>
                        <div class="item-detail fff-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            <a class="item-control item-edit" title="Edit Companion">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="Delete Companion" data-label="Companion">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory items" data-group="primary" data-tab="inventory">
            <div class="flexrow">
                <ol class="weight flexcol">
                    <li class="weight-header flexrow">
                        <div class="weight-detail title"></div>
                        <div class="weight-detail weapon">Weapon</div>
                        <div class="weight-detail missile">Missile</div>
                        <div class="weight-detail armor">Armor</div>
                        <div class="weight-detail misc-gear">Misc. Gear</div>
                        <div class="total">Total</div>
                    </li>
                    <li class="weight-line flexrow">
                        <div class="weight-detail title">Weight</div>
                        <div class="weight-detail weapon">{{ adata.eph.totalWeaponWeight }}</div>
                        <div class="weight-detail missile">{{ adata.eph.totalMissileWeight }}</div>
                        <div class="weight-detail armor">{{ adata.eph.totalArmorWeight }}</div>
                        <div class="weight-detail misc-gear">{{ adata.eph.totalMiscGearWeight }}</div>
                        <div class="total">{{ adata.eph.totalGearWeight }}</div>
                    </li>
                </ol>
                <div class="buf"></div>
            </div>

            <!-- Gear -->
            <div class="flexrow">
                <input
                    class="gear-name-filter"
                    type="text"
                    name="system.gearNameFilter"
                    placeholder="Filter gear by name..."
                    data-dtype="String" />
            </div>
            {{#each containers as |citem cid|}}
            <ol class="items-list gear-list">
                <li class="items-header gear flexrow" data-container-id="{{ cid }}" data-container-name="{{ citem.name }}">
                    <div class="citem-controls">
                        {{#if citem.system.collapsed}}
                        <a
                            class="item-control item-maximize active"
                            title="Maximize"
                            data-action="maximize"
                            data-cuuid="{{ citem.uuid }}"
                            data-container-id="{{ cid }}"
                            data-container-name="{{ citem.name }}"
                            data-type="gear">
                            <i class="fas fa-plus"></i>
                        </a>
                        {{else}}
                        <a
                            class="item-control item-minimize active"
                            title="Minimize"
                            data-action="minimize"
                            data-cuuid="{{ citem.uuid }}"
                            data-container-id="{{ cid }}"
                            data-container-name="{{ citem.name }}"
                            data-type="gear">
                            <i class="fas fa-minus"></i>
                        </a>
                        {{/if}}
                    </div>
                    <h3 class="item-name gear-name-h">
                        {{ citem.name }}
                        <a class="more-info" data-journal-entry="Sheet - Gear Tab">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </h3>
                    <div class="item-detail gear-type">Type</div>
                    <div class="item-detail gear-qty">Qty</div>
                    <div class="item-detail gear-weight">Weight</div>
                    <div class="item-detail gear-notes">Notes</div>
                    {{#unless (eq citem.system.type "Group")}}
                    <div class="item detail gear-capacity {{#if (gt system.capacity.value system.capacity.max)}}overcapacity{{/if}}">
                        Capacity: {{ system.capacity.value }}/{{ system.capacity.max }}
                    </div>
                    {{/unless}}
                    <div class="item-controls">
                        <a
                            class="item-control item-create active"
                            title="Add Gear"
                            data-type="gear"
                            data-container-id="{{ cid }}"
                            data-container-name="{{ citem.name }}">
                            <i class="fas fa-plus"></i>
                            Add
                        </a>
                    </div>
                </li>
                <ol class="item-list gear-list">
                    {{#each ../items as | item |}}
                    {{#if (and (endswith item.type "gear") (eq item.system.container cid))}}
                    {{#unless citem.system.collapsed}}
                    <li
                        class="item gear-item {{#unless system.isCarried}}nocarry{{/unless}} flexrow"
                        data-item-id="{{ item.id }}"
                        data-item-name="{{ item.name }}"
                        data-container-id="{{ cid }}"
                        data-container-name="{{ citem.name }}">
                        <div class="citem-controls-0 flexrow"></div>
                        <div class="item-name gear-name flexrow">
                            <div class="item-image" style="background-image: url('{{ item.img }}')"></div>
                            <h4>{{ item.name }}</h4>
                        </div>
                        <div class="item-detail gear-type">{{lookup ../../gearTypes item.type}}</div>
                        <div class="item-detail gear-qty">
                            <input type="text" {{#unless system.isCarried}}class="nocarry"{{/unless}} name="item-quantity-special" id="{{
                                item.id
                            }}" value="{{ item.system.quantity }}" data-dtype="Number"/>
                        </div>
                        <div class="item-detail gear-weight">{{ system.weightT }}</div>
                        <div class="item-detail gear-notes">{{ system.notes }}</div>
                        <div class="item-controls-wide">
                            {{#if (or (eq cid "on-person") (eq citem.system.type "Group"))}}
                            {{#unless (or (eq item.type "containergear") (eq item.type "miscgear"))}}
                            <a class="item-control item-equip" title="Equip">
                                <i class="{{#if system.isEquipped}}active{{/if}} fas fa-shield-alt"></i>
                            </a>
                            {{/unless}}
                            <a class="item-control item-carry" title="Carry">
                                <i class="{{#if system.isCarried}}active{{/if}} fas fa-suitcase"></i>
                            </a>
                            {{/if}}
                            <a class="item-control item-edit" title="Edit">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="item-control item-delete" title="{{ system.type }}" data-label="Miscellaneous Gear">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/unless}}
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>
            {{/each}}
        </div>

        {{!-- Macros Tab --}}
        <div class="tab macros" data-group="primary" data-tab="macros">
            <div class="flexrow">
                <input
                    class="macros-name-filter"
                    type="text"
                    name="system.macrosNameFilter"
                    placeholder="Filter macros by name..."
                    data-dtype="String" />
            </div>
            <ol class="macros-list">
                <li class="macros-header flexrow">
                    <h3 class="macro-name flexrow">
                        Macro
                        <a class="more-info" data-journal-entry="Sheet - Macro Tab">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </h3>
                    <div class="macro-source">Type</div>
                    <!-- <div class="macro-duration">Trigger</div> -->
                    <div class="macro-changes">Trigger</div>
                    <a class="macro-controls macro-control" title="Add Macro" data-action="create">
                        <span class="active">
                            <i class="fas fa-plus"></i>
                            Add
                        </span>
                    </a>
                </li>
                <ol class="macro-list item-list">
                    {{#each adata.macrolist as |macro|}}
                    <li
                        class="macro {{#if macro.disabled}}disabled{{/if}} flexrow"
                        data-macro-name="{{ macro.name }}"
                        data-macro-id="{{ macro._id }}">
                        <div class="macro-name flexrow">
                            <div class="macro-image" style="background-image: url('{{ macro.img }}')"></div>
                            <h4>{{ macro.name }}</h4>
                        </div>
                        <div class="macro-ele macro-source">{{ macro.type }}</div>
                        <!-- <div class="macro-ele macro-duration">{{macro.trigger}}</div> -->
                        <div class="macro-ele macro-changes">{{ macro.trigger }}</div>
                        <div class="macro-controls">
                            <!-- <a class="macro-control" data-action="toggle"><i class="{{#unless macro.disabled}}active{{/unless}} fas fa-circle-notch"></i></a> -->
                            <a class="macro-control" data-action="edit">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="macro-control" data-action="delete">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <div class="flexrow">
                <input
                    class="effects-name-filter"
                    type="text"
                    name="system.effectsNameFilter"
                    placeholder="Filter effects by name..."
                    data-dtype="String" />
            </div>
            <ol class="effects-list">
                <li class="effects-header flexrow">
                    <h3 class="effect-name flexrow">
                        Effect
                        <a class="more-info" data-journal-entry="Sheet - Effect Tab">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </h3>
                    <div class="effect-source">Source</div>
                    <div class="effect-source">Start</div>
                    <div class="effect-duration">Remaining</div>
                    <div class="effect-changes">Changes</div>
                    {{#if hasRwPermission}}
                    <a class="effect-controls effect-control" title="Add Effect" data-action="create">
                        <span class="active">
                            <i class="fas fa-plus"></i>
                            Add
                        </span>
                    </a>
                    {{else}}
                    <a class="effect-controls effect-control disable" data-action="void">
                        <span class="inactive">
                            <i class="fas fa-plus"></i>
                            Add
                        </span>
                    </a>
                    {{/if}}
                </li>
                <ol class="effect-list item-list">
                    {{#each effects as |effect id|}}
                    <li
                        class="effect {{#if effect.disabled}}disabled{{/if}} flexrow"
                        data-effect-name="{{ effect.name }}"
                        data-effect-id="{{ effect.id }}">
                        <div class="effect-name flexrow">
                            <div class="effect-image" style="background-image: url('{{ effect.img }}')"></div>
                            <h4>{{ effect.name }}</h4>
                        </div>
                        <div class="effect-ele effect-source">{{ effect.sourceName }}</div>
                        <div class="effect-ele effect-duration">{{ effect.duration.startLabel }}</div>
                        <div class="effect-ele effect-duration">
                            {{#if (eq effect.duration.label "None")}}Indefinite{{else}}{{ effect.duration.label }}{{/if}}
                        </div>
                        <div class="effect-ele effect-changes">{{ effect.changes }}</div>
                        <div class="effect-controls">
                            {{#if ../hasRwPermission}}
                            <a class="effect-control" title="Toggle Effect on|off" data-action="toggle">
                                <i class="{{#unless effect.disabled}}active{{/unless}} fas fa-circle-notch"></i>
                            </a>
                            <a class="effect-control" title="Edit Effect" data-action="edit">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a class="effect-control" title="Delete Effect" data-action="delete">
                                <i class="active fas fa-trash"></i>
                            </a>
                            {{else}}
                            <a class="effect-control disable" data-action="void">
                                <i class="inactive fas fa-circle-notch"></i>
                            </a>
                            <a class="effect-control disable" data-action="void">
                                <i class="inactive fas fa-edit"></i>
                            </a>
                            <a class="effect-control disable" data-action="void">
                                <i class="inactive fas fa-trash"></i>
                            </a>
                            {{/if}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </section>
</form>
