{{#> item_v2_layout_partial container=true }}

<div class="grid grid-fixed-row grid-3col">
    {{> item_v2_quantity_partial}}
    {{> item_v2_weight_partial}}
    {{> item_v2_value_partial}}
</div>
<div class="grid grid-fixed-row grid-3col">
    <div
        class="resource"
        id="armorgear-quality">
        <label class="resource-label">Armor Quality</label>
        <input class="value" type="number" id="system.armorQuality" name="system.armorQuality" value="{{ iproxy.AQ }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="armorgear-material">
        <label
            for="system.material"
            class="resource-label">
            Material
        </label>
        <input class="value" type="text" id="system.material" name="system.material" value="{{ iproxy.material }}" data-dtype="String"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="armorgear-size">
        <label
            for="system.size"
            class="resource-label">
            Size
        </label>
        <input class="value" type="number" id="system.size" name="system.size" value="{{ iproxy.size }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
</div>
<fieldset class="armorgear-protection">
    <legend>Protection</legend>
    <div class="grid grid-fixed-row grid-4col">
        <div class="resource">
            <label
                for="system.protection.blunt"
                class="resource-label">
                Blunt
            </label>
            <input class="value" type="number" id="system.protection.blunt" name="system.protection.blunt" value="{{ iproxy.blunt }}"
            data-dtype="Number" {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
        </div>
        <div
            class="resource"
            id="armorgear-edged">
            <label
                for="system.protection.edged"
                class="resource-label">
                Edged
            </label>
            <input class="value" type="number" id="system.protection.edged" name="system.protection.edged" value="{{ iproxy.edged }}"
            data-dtype="Number" {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
        </div>
        <div
            class="resource"
            id="armorgear-piercing">
            <label
                for="system.protection.piercing"
                class="resource-label">
                Piercing
            </label>
            <input class="value" type="number" id="system.protection.piercing" name="system.protection.piercing" value="{{
                iproxy.piercing
            }}" data-dtype="Number" {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
        </div>
        <div
            class="resource"
            id="armorgear-fire">
            <label
                for="system.protection.fire"
                class="resource-label">
                Fire
            </label>
            <input class="value" type="number" id="system.protection.fire" name="system.protection.fire" value="{{ iproxy.fire }}"
            data-dtype="Number" {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
        </div>
    </div>
</fieldset>
<fieldset
    class="armor-locations-list"
    id="armorgear-locations-list">
    <legend>Locations</legend>
    {{#if (and hasRwPermission editable)}}
    <div
        class="armorgear-location resource flexrow"
        id="armorgear-location-select">
        <label
            for="system.targetLocation"
            class="resource-label">
            Location
        </label>
        <select
            class="value"
            id="system.targetLocation"
            name="system.targetLocation">
            {{#select iproxy.targetLocation}}
            {{#each config.injuryLocations as |value key|}}
            {{#if (ne key "Custom")}}
            <option value="{{ key }}">{{ key }}</option>
            {{/if}}
            {{/each}}
            {{/select}}
        </select>
        <a
            class="armorgear-location-add"
            data-location="{{ iproxy.targetLocation }}">
            <i class="fas fa-plus"></i>
            Add
        </a>
    </div>
    {{/if}}
    <ol
        class="grid grid-fixed-row-xs grid-4col"
        id="armorgear-location-display">
        {{#each iproxy.locations}}
        <li class="armor-location">
            <span class="name">{{ this }}</span>
            {{#if hasRwPermission}}
            <a
                class="armorgear-location-delete"
                data-location="{{ this }}"
                title="Delete Location">
                <i class="fas fa-trash"></i>
            </a>
            {{/if}}
        </li>
        {{/each}}
    </ol>
</fieldset>
{{> item_v2_standard_partial}}

{{/item_v2_layout_partial}}
