{{#> item_v2_layout_partial container=true }}

<div class="grid grid-fixed-row grid-3col">
    {{> item_v2_quantity_partial}}
    {{> item_v2_weight_partial}}
    {{> item_v2_value_partial}}
</div>
<div class="grid grid-fixed-row grid-3col">
    <div
        class="resource"
        id="missilegear-quality">
        <label class="resource-label">Weapon Quality</label>
        <input class="value" type="number" name="system.weaponQuality" value="{{ iproxy.WQ }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="missilegear=weaponaspect">
        <label
            for="system.weaponAspect"
            class="resource-label">
            Weapon Aspect
        </label>
        {{#if (and hasRwPermission editable)}}
        <select
            class="resource-value"
            id="system.weaponAspect"
            name="system.weaponAspect"
            data-dtype="String">
            {{#select iproxy.weaponAspect}}
            <option value="Piercing">Piercing</option>
            <option value="Blunt">Blunt</option>
            <option value="Edged">Edged</option>
            {{/select}}
        </select>
        {{else}}
        <input
            class="value"
            type="text"
            id="system.weaponAspect"
            name="system.weaponAspect"
            value="{{ iproxy.weaponAspect }}"
            data-dtype="String"
            disabled />
        {{/if}}
    </div>
    <div
        class="resource"
        id="missilegear-assocskill">
        <label
            for="system.assocSkill"
            class="resource-label">
            Associated Skill
        </label>
        {{#if iproxy.combatSkills}}
        {{#if editable}}
        <select
            class="resource-value"
            id="system.assocSkill"
            name="system.assocSkill"
            data-dtype="String">
            {{selectOptions iproxy.combatSkills selected=iproxy.assocSkill valueAttr="key" labelAttr="key"}}
        </select>
        {{else}}
        <input
            class="value"
            type="text"
            id="system.assocSkill"
            name="system.assocSkill"
            value="{{ iproxy.assocSkill }}"
            data-dtype="String"
            disabled />
        {{/if}}
        {{else}}
        <input class="value" type="text" id="system.assocSkill" name="system.assocSkill" value="{{ iproxy.assocSkill }}" data-dtype="String"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}}/>
        {{/if}}
    </div>
</div>
<div class="resource-block">
    <ol class="range-table">
        <li
            class="flexrow range-header"
            id="missilegear-range-header">
            <div class="range-label"></div>
            <div class="range-value">Short</div>
            <div class="range-value">Medium</div>
            <div class="range-value">Long</div>
            <div class="range-value">Extreme</div>
        </li>
        <li
            class="flexrow"
            id="missilegear-range-values">
            {{#if iproxy.isFeet}}
            <div class="range-label">Range (ft)</div>
            {{else}}
            <div class="range-label">Range (hex)</div>
            {{/if}}
            <div
                class="range-value"
                id="missilegear-range-short">
                {{#unless iproxy.isFeet}}
                <input
                    class="value"
                    type="text"
                    name="system.range.short"
                    value="{{ iproxy.short.range }}"
                    data-dtype="Number"
                    disabled />
                {{else}}
                <input class="value" type="text" name="system.range.short" value="{{ iproxy.short.range }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
                {{/unless}}
            </div>
            <div
                class="range-value"
                id="missilegear-range-medium">
                {{#unless iproxy.isFeet}}
                <input
                    class="value"
                    type="text"
                    name="system.range.medium"
                    value="{{ iproxy.medium.range }}"
                    data-dtype="Number"
                    disabled />
                {{else}}
                <input class="value" type="text" name="system.range.medium" value="{{ iproxy.medium.range }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
                {{/unless}}
            </div>
            <div
                class="range-value"
                id="missilegear-range-long">
                {{#unless iproxy.isFeet}}
                <input
                    class="value"
                    type="text"
                    name="system.range.long"
                    value="{{ iproxy.long.range }}"
                    data-dtype="Number"
                    disabled />
                {{else}}
                <input class="value" type="text" name="system.range.long" value="{{ iproxy.long.range }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
                {{/unless}}
            </div>
            <div
                class="range-value"
                id="missilegear-range-extreme">
                {{#unless iproxy.isFeet}}
                <input
                    class="value"
                    type="text"
                    name="system.range.extreme"
                    value="{{ iproxy.extreme.range }}"
                    data-dtype="Number"
                    disabled />
                {{else}}
                <input class="value" type="text" name="system.range.extreme" value="{{ iproxy.extreme.range }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
                {{/unless}}
            </div>
        </li>
        <li
            class="flexrow"
            id="missilegear-impact-values">
            <div class="range-label">Impact</div>
            <div
                class="range-value"
                id="missilegear-impact-short">
                <input class="value" type="text" name="system.impact.short" value="{{ iproxy.short.impact }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
            </div>
            <div
                class="range-value"
                id="missilegear-impact-medium">
                <input class="value" type="text" name="system.impact.medium" value="{{ iproxy.medium.impact }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
            </div>
            <div
                class="range-value"
                id="missilegear-impact-long">
                <input class="value" type="text" name="system.impact.long" value="{{ iproxy.long.impact }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
            </div>
            <div
                class="range-value"
                id="missilegear-impact-extreme">
                <input class="value" type="text" name="system.impact.extreme" value="{{ iproxy.extreme.impact }}" data-dtype="Number"
                {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
            </div>
        </li>
    </ol>
</div>
{{> item_v2_standard_partial}}

{{/item_v2_layout_partial}}
