{{#> item_v2_layout_partial nameReadOnly=(not hasRwPermission) list=config.skillTypes }}

<div class="grid grid-fixed-row grid-3col">
    <div class="resource">
        <label
            for="system.skillBase.value"
            class="resource-label">
            Skill Base (SB)
        </label>
        <input class="value" type="text" id="system.skillBase.value" name="system.skillBase.value" value="{{ iproxy.SB.value }}"
        data-dtype="Number" {{#if iproxy.SB.formula}}readonly{{/if}} {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div class="resource">
        <label
            for="system.masteryLevel"
            class="resource-label">
            Mastery Level (ML)
        </label>
        <input class="value" type="number" id="system.masteryLevel" name="system.masteryLevel" value="{{ iproxy.ML }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    {{#if (eq iproxy.type "Ritual")}}
    <div class="resource">
        <label
            for="system.ritual.piety"
            class="resource-label">
            Piety
        </label>
        <input
            class="value"
            type="number"
            id="system.ritual.piety"
            name="system.ritual.piety"
            value="{{ iproxy.ritual.piety }}"
            data-dtype="Number" />
    </div>
    {{/if}}
</div>

{{> item_v2_sb_partial}}
{{> item_v2_standard_partial}}

{{#if iproxy.isRiding}}
<div class="resource-block">
    <div class="resource">
        <label
            for="system.actorUuid"
            class="resource-label">
            Steed
        </label>
        <select
            class="value"
            id="system.actorUuid"
            name="system.actorUuid">
            {{selectOptions iproxy.steeds selected=iproxy.actorUuid valueAttr="key" labelAttr="label"}}
        </select>
    </div>
    <div class="resource">
        <label
            for="mounted"
            class="resource-label">
            Mounted
        </label>
        <span class="resource-span">
            <input
                class="value"
                type="checkbox"
                id="mounted"
                name="mounted"
                {{
                checked
                iproxy.mounted
                }}
                disabled />
        </span>
    </div>
</div>
{{/if}}

{{/item_v2_layout_partial}}
