<form
    class="{{ cssClass }}"
    autocomplete="off">
    <header class="sheet-header item-header">
        {{#if editable}}
        <img
            class="profile-img"
            src="{{ iproxy.img }}"
            alt="{{ iproxy.name }}"
            data-edit="img"
            aria-label="{{ iproxy.name }}"
            data-tooltip="{{ iproxy.name }}"
            data-tooltip-direction="UP" />
        {{else}}
        <img
            class="profile-img"
            src="{{ iproxy.img }}"
            alt="{{ iproxy.name }}"
            aria-label="{{ iproxy.name }}"
            data-tooltip="{{ iproxy.name }}"
            data-tooltip-direction="UP" />
        {{/if}}
        <div class="header-fields">
            {{#if (or nameReadOnly (not editable))}}
            <h1 class="item-name disabled">
                {{ iproxy.name }}
            </h1>
            {{else}}
            <h1 class="item-name">
                <input
                    name="name"
                    type="text"
                    value="{{ iproxy.name }}"
                    placeholder="Name"
                    autocomplete="off" />
            </h1>
            {{/if}}
            {{#if container}}
            <div class="item-container resource flexrow">
                <label
                    for="system.container"
                    class="label">
                    In Container
                </label>
                {{#if editable}}
                <select
                    class="value"
                    id="system.container"
                    name="system.container">
                    {{selectOptions iproxy.containers selected=iproxy.container valueAttr="key" labelAttr="label"}}
                </select>
                {{else}}
                <input
                    class="value"
                    type="text"
                    id="system.container"
                    name="system.container"
                    value="{{getLabel iproxy.containers iproxy.container }}"
                    disabled />
                {{/if}}
            </div>
            {{/if}}
            {{#if list}}
            <div class="item-type resource flexrow">
                <label
                    for="system.type"
                    class="label">
                    Type
                </label>
                {{#if (and hasRwPermission editable)}}
                <select
                    class="value"
                    id="system.type"
                    name="system.type">
                    {{selectOptions list selected=iproxy.type valueAttr="key" labelAttr="key"}}
                </select>
                {{else}}
                <input
                    class="value"
                    type="text"
                    id="system.type"
                    name="system.type"
                    value="{{ iproxy.type }}"
                    disabled />
                {{/if}}
            </div>
            {{/if}}
        </div>
    </header>

    <div class="tab-container">
        {{!-- Sheet Tab Navigation --}}
        <nav
            class="sheet-tabs-v2 v2"
            data-group="primary">
            <a
                class="item"
                data-tab="properties">
                Properties
            </a>
            <a
                class="item"
                data-tab="description">
                Description
            </a>
            <a
                class="item"
                data-tab="effects">
                Effects
            </a>
            {{#if isGM}}
            <a
                class="item"
                data-tab="macros">
                Macros
            </a>
            {{/if}}
            {{#if iproxy.macros.command}}
            <a
                class="item"
                data-tab="legacy-macro">
                Legacy
            </a>
            {{/if}}
            {{#if (and isGM editable)}}
            <a
                class="item small"
                data-tab="settings">
                &nbsp;
                <i class="fas fa-cog"></i>
            </a>
            {{/if}}
        </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body-v2 v2">
        {{!-- Main Content --}}
        <div class="main-content">
            {{!-- Properties Tab --}}
            <div
                class="tab properties"
                data-group="primary"
                data-tab="properties">
                {{> @partial-block}}
            </div>

            <div
                class="tab description"
                data-group="primary"
                data-tab="description">
                {{editor descriptionHTML target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
            </div>

            <div
                class="tab effects"
                data-group="primary"
                data-tab="effects">
                {{> effects_partial}}
            </div>

            {{#if isGM}}
            <div
                class="tab macros"
                data-group="primary"
                data-tab="macros">
                {{> macros_partial}}
            </div>
            {{/if}}

            {{#if iproxy.macros.command}}
            <div
                class="tab legacy-macro"
                data-group="primary"
                data-tab="legacy-macro">
                {{> legacy_macro_partial}}
            </div>
            {{/if}}

            {{#if (and isGM editable)}}
            <div
                class="tab settings"
                data-group="primary"
                data-tab="settings">
                {{#if (eq item.type "miscgear")}}
                <div class="item-type resource flexrow">
                    <label
                        for="system.type"
                        class="resource-label">
                        Misc. Item Type
                    </label>
                    <select
                        class="value"
                        id="system.type"
                        name="system.type">
                        {{selectOptions config.miscItemTypes selected=iproxy.type valueAttr="key" labelAttr="key"}}
                    </select>
                </div>
                {{/if}}
                {{#if (eq item.type "containergear")}}
                <div class="resource flexrow">
                    <input
                        type="checkbox"
                        id="system.locked"
                        name="system.locked"
                        value="{{ iproxy.locked }}"
                        data-dtype="Boolean"
                        {{
                        checked
                        iproxy.locked
                        }} />
                    <label
                        for="system.locked"
                        class="resource-label">
                        Container is locked
                    </label>
                </div>
                {{/if}}
                {{> item_v2_unknown_value_partial}}
                {{> item_v2_esoteric_combat_partial}}
                {{> item_v2_artifact_partial}}
            </div>
            {{/if}}
        </div>
    </section>
</form>
