<div class="resource">
    <label class="resource-label">Value</label>
    {{#if (and hasRwPermission editable)}}
    <input
        class="value"
        type="number"
        name="system.value"
        value="{{ iproxy.value }}"
        data-dtype="Number" />
    {{else}}
    {{#if hasRwPermission}}
    <span>{{ iproxy.value }}d</span>
    {{else}}
    {{#if iproxy.unknownValue}}
    <input
        class="value"
        type="text"
        value="Unknown"
        data-dtype="String"
        disabled />
    {{else}}
    <span>{{ iproxy.value }}d</span>
    {{/if}}
    {{/if}}
    {{/if}}
</div>
