<div class="hm3 chat-card item-card" data-actor-id="{{ actorId }}">
    <header class="card-header flexcol">
        <h3 class="title">{{ title }}</h3>
        <h4 class="subtitle">{{ tokenName }}'s {{ weaponName }}</h4>
    </header>

    <div class="card-content center">
        <span class="label">Weapon Quality / Roll:</span>
        <span class="value">{{ weaponQuality }} / {{ rollValue }}</span>
    </div>

    {{#if weaponBroke}}
    <div class="card-content center">
        <span class="weapon-broke failure-text">{{ tokenName }}'s {{ weaponName }} broke!</span>
    </div>
    {{else}}
    <div class="card-content center">
        <span class="value success-text">{{ tokenName }}'s {{ weaponName }} OK</span>
    </div>
    {{/if}}

    {{#if debug}}
    <hr />
    <h3 class="subtitle">Debug Info</h3>

    <div class="card-content center">
        <span class="label">Weapon Formula:</span>
        <span class="value">{{ rollFormula }}</span>
    </div>
    <div class="card-content center">
        <span class="label">Weapon Result:</span>
        <span class="value">{{ rollResult }}</span>
    </div>
    {{/if}}
</div>
