{{#if skillList}}
<ol class="items-list spells-list">
    <li class="items-header spell flexrow">
        <h3 class="item-name spell-name">
            {{ header }}
            <a
                class="more-info"
                data-journal-entry="Sheet - Esoterics Tab">
                <i class="far fa-question-circle"></i>
            </a>
        </h3>
        {{#if (eq type "Spell")}}
        <div class="item-detail spell-convocation">Convoc.</div>
        <div class="item-detail spell-level">Level</div>
        {{/if}}
        {{#if (eq type "Invocation")}}
        <div class="item-detail spell-convocation">Diety</div>
        <div class="item-detail spell-level">Circle</div>
        {{/if}}
        {{#if (eq type "Psionic")}}
        <div class="item-detail spell-level">Fatigue</div>
        <div class="item-detail spell-eml">SB</div>
        <div class="item-detail spell-eml">ML</div>
        {{/if}}
        <div class="item-detail spell-eml">EML</div>
        <div class="item-detail spell-notes">Notes</div>
        <div class="item-controls-wide">
            <a
                class="item-control item-create active"
                aria-label="Create {{ header }}"
                data-tooltip="Create {{ header }}"
                data-tooltip-direction="UP"
                data-type="{{ dataType }}">
                <i class="fas fa-plus"></i>
                Add
            </a>
        </div>
    </li>
    <ol class="item-list spell-list">
        {{#each skillList as | item |}}
        <li
            class="item spell flexrow"
            data-item-id="{{ id }}"
            data-item-name="{{ name }}">
            <div class="item-name spell-name {{ ../dataType }}-roll flexrow">
                <div
                    class="item-image"
                    style="background-image: url('{{ img }}')"></div>
                <h4>{{ name }}</h4>
            </div>
            {{#if (eq ../type "Spell")}}
            <div class="item-detail spell-convocation">{{ convocation }}</div>
            <div class="item-detail spell-level">{{ level }}</div>
            {{/if}}
            {{#if (eq ../type "Invocation")}}
            <div class="item-detail spell-convocation">{{ diety }}</div>
            <div class="item-detail spell-level">{{ circle }}</div>
            {{/if}}
            {{#if (eq ../type "Psionic")}}
            <div class="item-detail spell-level">{{ fatigue }}</div>
            <div class="item-detail spell-eml">{{ SB }}</div>
            <div class="item-detail spell-eml">{{ ML }}</div>
            {{/if}}
            <div class="item-detail spell-eml">{{ EML }}</div>
            <div class="item-detail spell-notes">{{ notes }}</div>
            <div class="item-controls-wide">
                {{#if item.isSkillImprovement}}
                <a
                    class="item-control item-improve"
                    aria-label="Improve Skill"
                    data-tooltip="Improve Skill"
                    data-tooltip-direction="UP">
                    {{#if system.improveFlag}}
                    <i class="active fas fa-star"></i>
                    {{else}}
                    <i class="far fa-star"></i>
                    {{/if}}
                </a>
                {{/if}}
                <a
                    class="item-control item-dumpdesc"
                    aria-label="Post {{ ../type }} Description to Chat"
                    data-tooltip="Post {{ ../type }} Description to Chat"
                    data-tooltip-direction="UP">
                    <i class="active far fa-comment"></i>
                </a>
                <a
                    class="item-control item-edit"
                    aria-label="Edit {{ ../type }}"
                    data-tooltip="Edit {{ ../type }}"
                    data-tooltip-direction="UP">
                    <i class="active fas fa-edit"></i>
                </a>
                <a
                    class="item-control item-delete"
                    aria-label="Delete {{ ../type }}"
                    data-tooltip="Delete {{ ../type }}"
                    data-tooltip-direction="UP"
                    data-label="{{../type}}">
                    <i class="active fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>
{{/if}}
