{{#if companions}}
<ol class="items-list fffs-list">
    <li class="items-header fff flexrow">
        <h3 class="item-name fff-name">{{ header }}</h3>
        <div class="item-detail fff-gender">Gender</div>
        {{#if character}}
        <div class="item-detail fff-occupation">Occupation</div>
        {{else}}
        <div class="item-detail fff-species">Species</div>
        {{/if}}
        <div class="item-detail fff-notes">Notes</div>
        <div class="item-controls-wide"></div>
    </li>
    <ol class="item-list fff-list">
        {{#each companions as | item |}}
        <li
            class="item fff flexrow"
            data-item-id="{{ id }}"
            data-item-name="{{ name }}">
            <div class="item-name fff-name fff-roll flexrow">
                <div
                    id="companion"
                    class="item-image"
                    style="background-image: url('{{ img }}')"
                    data-item-actor-uuid="{{ actorUuid }}"></div>
                <h4>{{ name }}</h4>
            </div>
            <div class="item-detail fff-gender">{{ gender }}</div>
            {{#if character}}
            <div class="item-detail fff-occupation">{{ occupation }}</div>
            {{else}}
            <div class="item-detail fff-species">{{ species }}</div>
            {{/if}}
            <div class="item-detail fff-notes">{{ notes }}</div>
            <div class="item-controls-wide">
                <a
                    class="item-control item-edit"
                    aria-label="Edit Companion"
                    data-tooltip="Edit Companion"
                    data-tooltip-direction="UP">
                    <i class="active fas fa-edit"></i>
                </a>
                <a
                    class="item-control item-delete"
                    aria-label="Delete Companion"
                    data-tooltip="Delete Companion"
                    data-tooltip-direction="UP"
                    data-label="Companion">
                    <i class="active fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>
{{/if}}
