{{#> char_v2_layout_partial chartype='Character' }}

{{!-- Profile Tab --}}
<div
    class="tab profile"
    data-group="primary"
    data-tab="profile">
    <div class="flexcol">
        <ul class="flexrow ability-scores">
            {{> char_v2_ability_partial name='strength' base=adata.abilities.strength.base eff=adata.abilities.strength.effective}}
            {{> char_v2_ability_partial name='stamina' base=adata.abilities.stamina.base eff=adata.abilities.stamina.effective}}
            {{> char_v2_ability_partial name='dexterity' base=adata.abilities.dexterity.base eff=adata.abilities.dexterity.effective}}
            {{> char_v2_ability_partial name='agility' base=adata.abilities.agility.base eff=adata.abilities.agility.effective}}
            {{> char_v2_ability_partial name='intelligence' base=adata.abilities.intelligence.base eff=adata.abilities.intelligence.effective}}
            {{> char_v2_ability_partial name='aura' base=adata.abilities.aura.base eff=adata.abilities.aura.effective}}
            {{> char_v2_ability_partial name='will' base=adata.abilities.will.base eff=adata.abilities.will.effective}}
        </ul>
        <ul class="flexrow ability-scores">
            {{> char_v2_ability_partial name='eyesight' base=adata.abilities.eyesight.base eff=adata.abilities.eyesight.effective}}
            {{> char_v2_ability_partial name='hearing' base=adata.abilities.hearing.base eff=adata.abilities.hearing.effective}}
            {{> char_v2_ability_partial name='smell' base=adata.abilities.smell.base eff=adata.abilities.smell.effective}}
            {{> char_v2_ability_partial name='voice' base=adata.abilities.voice.base eff=adata.abilities.voice.effective}}
            {{> char_v2_ability_partial name='comeliness' base=adata.abilities.comeliness.base eff=adata.abilities.comeliness.effective}}
            {{> char_v2_ability_partial name='morality' base=adata.abilities.morality.base eff=adata.abilities.morality.effective}}
        </ul>
        <div class="profile-params">
            <div class="flexrow profile-item">
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.sunsign"
                        class="label">
                        Sunsign
                    </label>
                    {{#if customSunSign}}
                    <input
                        class="value"
                        type="text"
                        id="system.sunsign"
                        name="system.sunsign"
                        value="{{ aproxy.sunsign }}"
                        data-dtype="String" />
                    {{else}}
                    <select
                        class="value"
                        id="system.sunsign"
                        name="system.sunsign"
                        data-dtype="String">
                        {{selectOptions config.sunsigns selected=aproxy.sunsign valueAttr="key" labelAttr="key"}}
                    </select>
                    {{/if}}
                </div>
                <div class="attribute species flexrow">
                    <label
                        for="system.species"
                        class="label">
                        Race
                    </label>
                    <input
                        class="value"
                        type="text"
                        id="system.species"
                        name="system.species"
                        value="{{ aproxy.species }}"
                        data-dtype="String" />
                </div>
                <div class="attribute gender flexrow">
                    <label
                        for="system.gender"
                        class="label">
                        Gender
                    </label>
                    <select
                        class="value"
                        id="system.gender"
                        name="system.gender">
                        {{selectOptions config.gender selected=aproxy.gender valueAttr="key" labelAttr="key"}}
                    </select>
                </div>
            </div>
        </div>
        {{#if isCharacterMancer}}
        <div class="profile-params">
            <div class="flexrow profile-item">
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.height"
                        class="label">
                        Height
                    </label>
                    <input
                        class="value"
                        type="number"
                        id="system.height"
                        name="system.height"
                        value="{{ aproxy.height }}"
                        data-dtype="Number" />
                </div>
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.weight"
                        class="label">
                        Weight
                    </label>
                    <input
                        class="value"
                        type="number"
                        id="system.weight"
                        name="system.weight"
                        value="{{ aproxy.weight }}"
                        data-dtype="Number" />
                </div>
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.size"
                        class="label">
                        Size
                    </label>
                    <input
                        class="value"
                        type="number"
                        id="system.size"
                        name="system.size"
                        value="{{ aproxy.size }}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="profile-params">
            <div class="flexrow profile-item">
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.birth.day"
                        class="label">
                        Birthday
                    </label>
                    <input
                        class="value"
                        type="number"
                        id="system.birth.day"
                        name="system.birth.day"
                        value="{{ adata.birth.day }}"
                        data-dtype="Number" />
                </div>
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.birth.month"
                        class="label">
                        Birthmonth
                    </label>
                    <input
                        class="value"
                        type="number"
                        id="system.birth.month"
                        name="system.birth.month"
                        value="{{ adata.birth.month }}"
                        data-dtype="Number" />
                </div>
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.birth.year"
                        class="label">
                        Birthyear
                    </label>
                    <input
                        class="value"
                        type="number"
                        id="system.birth.year"
                        name="system.birth.year"
                        value="{{ adata.birth.year }}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="profile-params">
            <div class="flexrow profile-item">
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.frame"
                        class="label">
                        Frame
                    </label>
                    <select
                        class="value"
                        id="system.frame"
                        name="system.frame"
                        data-dtype="String">
                        {{selectOptions config.frames selected=aproxy.frame valueAttr="key" labelAttr="key"}}
                    </select>
                </div>
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.culture"
                        class="label">
                        Culture
                    </label>
                    <select
                        class="value"
                        id="system.culture"
                        name="system.culture"
                        data-dtype="String">
                        {{selectOptions config.cultures selected=aproxy.culture valueAttr="key" labelAttr="key"}}
                    </select>
                </div>
                <div class="attribute sunsign flexrow">
                    <label
                        for="system.socialClass"
                        class="label">
                        Social Class
                    </label>
                    <select
                        class="value"
                        id="system.socialClass"
                        name="system.socialClass"
                        data-dtype="String">
                        {{selectOptions config.socialClasses selected=aproxy.socialClass valueAttr="key" labelAttr="key"}}
                    </select>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="flexrow items traits">
            <ol class="items-list traits-list">
                <li class="items-header trait flexrow">
                    <h3 class="item-name trait-name">
                        Physical Traits
                        <a
                            class="more-info"
                            data-journal-entry="Sheet - Profile Tab">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </h3>
                    <div class="trait-notes item-detail">Notes</div>
                    <div class="item-controls">
                        <a
                            class="item-control item-create active"
                            aria-label="Create Physical Trait"
                            data-tooltip="Create Physical Trait"
                            data-tooltip-direction="UP"
                            data-type="trait"
                            data-traittype="Physical">
                            <i class="fas fa-plus"></i>
                            Add
                        </a>
                    </div>
                </li>
                <ol class="item-list trait-list">
                    {{#each items as |item|}}
                    {{#if (and (eq type "trait") (eq subtype "Physical"))}}
                    <li
                        class="item trait trait-item flexrow"
                        data-item-id="{{ id }}"
                        data-item-name="{{ name }}">
                        <div class="item-name trait-name flexrow">
                            <div
                                class="item-image"
                                style="background-image: url('{{ img }}')"></div>
                            <h4>{{ label }}</h4>
                        </div>
                        <div class="trait-notes">{{ notes }}</div>
                        <div class="item-controls">
                            <a
                                class="item-control item-edit"
                                aria-label="Edit Trait"
                                data-tooltip="Edit Trait"
                                data-tooltip-direction="UP">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a
                                class="item-control item-delete"
                                aria-label="Delete Trait"
                                data-tooltip="Delete Trait"
                                data-tooltip-direction="UP"
                                data-label="Physical Trait">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>
            <ol class="items-list traits-list">
                <li class="items-header trait flexrow">
                    <h3 class="item-name trait-name">
                        Psyche Traits
                        <a
                            class="more-info"
                            data-journal-entry="Sheet - Profile Tab">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </h3>
                    <div class="trait-notes item-detail">Notes</div>
                    <div class="item-controls">
                        <a
                            class="item-control item-create active"
                            aria-label="Create Psyche Trait"
                            data-tooltip="Create Psyche Trait"
                            data-tooltip-direction="UP"
                            data-type="trait"
                            data-traittype="Psyche">
                            <i class="fas fa-plus"></i>
                            Add
                        </a>
                    </div>
                </li>
                <ol class="item-list trait-list">
                    {{#each items as |item|}}
                    {{#if (and (eq type "trait") (eq subtype "Psyche"))}}
                    <li
                        class="item trait trait-item flexrow"
                        data-item-id="{{ id }}"
                        data-item-name="{{ name }}">
                        <div class="item-name trait-name flexrow">
                            <div
                                class="item-image"
                                style="background-image: url('{{ img }}')"></div>
                            <h4>{{ label }}</h4>
                        </div>
                        <div class="trait-notes">{{ notes }}</div>
                        <div class="item-controls">
                            <a
                                class="item-control item-edit"
                                aria-label="Edit Trait"
                                data-tooltip="Edit Trait"
                                data-tooltip-direction="UP">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a
                                class="item-control item-delete"
                                aria-label="Delete Trait"
                                data-tooltip="Delete Trait"
                                data-tooltip-direction="UP"
                                data-label="Psyche Trait">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>
        </div>
        <div class="flexcol">
            <div class="profile-desc flexcol">
                <h3 class="label">
                    Biography
                    <a
                        class="more-info"
                        data-journal-entry="Sheet - Profile Tab">
                        <i class="far fa-question-circle"></i>
                    </a>
                </h3>
                <div class="description">
                    {{editor aproxy.biography target="system.biography" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</div>

{{/char_v2_layout_partial}}
