{{#> char_v2_layout_partial chartype='Creature' }}

{{!-- Profile Tab --}}
<div
    class="tab profile"
    data-group="primary"
    data-tab="profile">
    <div class="flexcol">
        <ul class="flexrow ability-scores">
            {{> char_v2_ability_partial name='strength' base=aproxy.strength.base eff=aproxy.STR}}
            {{> char_v2_ability_partial name='stamina' base=aproxy.stamina.base eff=aproxy.STA}}
            {{> char_v2_ability_partial name='dexterity' base=aproxy.dexterity.base eff=aproxy.DEX}}
            {{> char_v2_ability_partial name='agility' base=aproxy.agility.base eff=aproxy.AGL}}
            {{> char_v2_ability_partial name='intelligence' base=aproxy.intelligence.base eff=aproxy.INT}}
            {{> char_v2_ability_partial name='aura' base=aproxy.aura.base eff=aproxy.AUR}}
            {{> char_v2_ability_partial name='will' base=aproxy.will.base eff=aproxy.WIL}}
        </ul>
        <ul class="flexrow ability-scores">
            {{> char_v2_ability_partial name='eyesight' base=aproxy.eyesight.base eff=aproxy.EYE}}
            {{> char_v2_ability_partial name='hearing' base=aproxy.hearing.base eff=aproxy.HRG}}
            {{> char_v2_ability_partial name='smell' base=aproxy.smell.base eff=aproxy.SML}}
            {{> char_v2_ability_partial name='voice' base=aproxy.voice.base eff=aproxy.VOI}}
        </ul>
        <div class="profile-params">
            <div class="flexrow profile-item">
                <div class="attribute species flexrow">
                    <label class="label">Load Rating</label>
                    <input
                        class="value"
                        type="text"
                        name="system.loadRating"
                        value="{{ aproxy.loadRating }}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="flexrow items traits">
            <ol class="items-list traits-list">
                <li class="items-header trait flexrow">
                    <h3 class="item-name trait-name">
                        Physical Traits
                        <a
                            class="more-info"
                            data-journal-entry="Sheet - Profile Tab">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </h3>
                    <div class="trait-notes item-detail">Notes</div>
                    <div class="item-controls">
                        <a
                            class="item-control item-create active"
                            aria-label="Create Physical Trait"
                            data-tooltip="Create Physical Trait"
                            data-tooltip-direction="UP"
                            data-type="trait"
                            data-traittype="Physical">
                            <i class="fas fa-plus"></i>
                            Add
                        </a>
                    </div>
                </li>
                <ol class="item-list trait-list">
                    {{#each items as |item id|}}
                    {{#if (and (eq type "trait") (eq subtype "Physical"))}}
                    <li
                        class="item trait trait-item flexrow"
                        data-item-id="{{ id }}"
                        data-item-name="{{ name }}">
                        <div class="item-name trait-name flexrow">
                            <div
                                class="item-image"
                                style="background-image: url('{{ img }}')"></div>
                            <h4>{{ label }}</h4>
                        </div>
                        <div class="trait-notes">{{ notes }}</div>
                        <div class="item-controls">
                            <a
                                class="item-control item-edit"
                                aria-label="Edit Trait"
                                data-tooltip="Edit Trait"
                                data-tooltip-direction="UP">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a
                                class="item-control item-delete"
                                aria-label="Delete Trait"
                                data-tooltip="Delete Trait"
                                data-tooltip-direction="UP"
                                data-label="Physical Trait">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>
            <ol class="items-list traits-list">
                <li class="items-header trait flexrow">
                    <h3 class="item-name trait-name">
                        Psyche Traits
                        <a
                            class="more-info"
                            data-journal-entry="Sheet - Profile Tab">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </h3>
                    <div class="trait-notes item-detail">Notes</div>
                    <div class="item-controls">
                        <a
                            class="item-control item-create active"
                            aria-label="Create Psyche Trait"
                            data-tooltip="Create Psyche Trait"
                            data-tooltip-direction="UP"
                            data-type="trait"
                            data-traittype="Psyche">
                            <i class="fas fa-plus"></i>
                            Add
                        </a>
                    </div>
                </li>
                <ol class="item-list trait-list">
                    {{#each items as |item id|}}
                    {{#if (and (eq type "trait") (eq subtype "Psyche"))}}
                    <li
                        class="item trait trait-item flexrow"
                        data-item-id="{{ id }}"
                        data-item-name="{{ name }}">
                        <div class="item-name trait-name flexrow">
                            <div
                                class="item-image"
                                style="background-image: url('{{ img }}')"></div>
                            <h4>{{ label }}</h4>
                        </div>
                        <div class="trait-notes">{{ notes }}</div>
                        <div class="item-controls">
                            <a
                                class="item-control item-edit"
                                aria-label="Edit Trait"
                                data-tooltip="Edit Trait"
                                data-tooltip-direction="UP">
                                <i class="active fas fa-edit"></i>
                            </a>
                            <a
                                class="item-control item-delete"
                                aria-label="Delete Trait"
                                data-tooltip="Delete Trait"
                                data-tooltip-direction="UP"
                                data-label="Psyche Trait">
                                <i class="active fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </ol>
        </div>
        <div class="flexcol">
            <div class="profile-desc flexcol">
                <label class="label">
                    Description
                    <a
                        class="more-info"
                        data-journal-entry="Sheet - Profile Tab">
                        <i class="far fa-question-circle"></i>
                    </a>
                </label>
                <div class="description">
                    {{editor aproxy.biography target="system.biography" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
</div>

{{/char_v2_layout_partial}}
