{{#if hasRwPermission}}
<div class="resource artifact flexrow" id="armorgear-isarcane">
    <input
        type="checkbox"
        name="system.arcane.isArtifact"
        value="{{ idata.arcane.isArtifact }}"
        data-dtype="Boolean"
        {{checked
        idata.arcane.isArtifact}} />
    <label class="resource-label">Artifact</label>
</div>
{{/if}}
{{#if idata.arcane.isArtifact}}
<fieldset id="armorgear-artifact">
    <legend>Artifact Properties</legend>
    <div class="grid grid-fixed-row grid-3col">
        <div class="resource" id="armorgear-artifact-isattuned">
            <input
                type="checkbox"
                name="system.arcane.isAttuned"
                value="{{ idata.arcane.isAttuned }}"
                data-dtype="Boolean"
                {{checked
                idata.arcane.isAttuned}} />
            <label class="resource-label">Attuned</label>
        </div>
        <div class="resource" id="armorgear-artifact-charges">
            <label class="resource-label">Charges</label>
            <input type="number" name="system.arcane.charges" value="{{ idata.arcane.charges }}" data-dtype="Number" />
        </div>
        <div class="resource" id="armorgear-artifact-ego">
            <label class="resource-label">Ego/Will</label>
            <input type="number" name="system.arcane.ego" value="{{ idata.arcane.ego }}" data-dtype="Number" />
        </div>
    </div>
</fieldset>
{{/if}}
