{{#> item_layout_partial  }}

{{!-- Properties Tab --}}
<div class="tab properties" data-group="primary" data-tab="properties">
    <div class="resource">
        <label class="resource-label">Source</label>
        <input type="text" name="system.source" value="{{ idata.source }}" data-dtype="String"
        {{#unless hasRwPermission}}disabled{{/unless}} />
    </div>
    <div class="resource">
        <label class="resource-label">Note</label>
        <input type="text" name="system.notes" value="{{ idata.notes }}" data-dtype="String" />
    </div>
    {{#if isGM}}
    <div class="resource artifact flexrow">
        <input type="checkbox" name="system.hidden" value="{{ idata.hidden }}" data-dtype="Boolean" {{checked idata.hidden}} />
        <label class="resource-label">Hidden</label>
        If checked, the effect is not displayed to the players.
    </div>
    <div class="resource artifact flexrow">
        <input
            type="checkbox"
            name="system.selfDestroy"
            value="{{ idata.selfDestroy }}"
            data-dtype="Boolean"
            {{checked
            idata.selfDestroy}} />
        <label class="resource-label">Self Destroy</label>
        If checked, the item & effect will be deleted after completion.
    </div>
    {{/if}}
</div>

{{/item_layout_partial}}
