{{#> item_layout_partial nameReadOnly=(not hasRwPermission) }}

<div class="resource-block">
    <div class="resource">
        <label
            for="system.diety"
            class="resource-label">
            Diety
        </label>
        {{#if hasRitualSkills}}
        <span class="resource-span">
            <select
                class="resource-value"
                id="system.diety"
                name="system.diety"
                data-dtype="String">
                {{#select idata.diety}}
                {{#each dieties}}
                <option value="{{ this }}">{{ this }}</option>
                {{/each}}
                {{/select}}
            </select>
        </span>
        {{else}}
        <input
            class="value"
            type="text"
            id="system.diety"
            name="system.diety"
            value="{{ idata.diety }}"
            data-dtype="String" />
        {{/if}}
    </div>
    <div class="resource">
        <label
            for="system.circle"
            class="resource-label">
            Circle
        </label>
        <input
            class="value"
            type="number"
            id="system.circle"
            name="system.circle"
            value="{{ idata.circle }}"
            data-dtype="Number" />
    </div>
</div>
{{> item_standard_partial}}
{{> item_esoteric_combat_partial}}

{{/item_layout_partial}}
