{{#> item_layout_partial  }}

{{!-- Properties Tab --}}
<div class="tab properties" data-group="primary" data-tab="properties">
    <div class="grid grid-fixed-row grid-2col">
        <div class="resource">
            <label class="resource-label" for="system.diety">Diety</label>
            {{#if hasRitualSkills}}
            <select class="resource-value" name="system.diety" data-dtype="String">
                {{#select idata.diety}}
                {{#each dieties}}
                <option value="{{ this }}">{{ this }}</option>
                {{/each}}
                {{/select}}
            </select>
            {{else}}
            <input type="text" name="system.diety" value="{{ idata.diety }}" data-dtype="String" />
            {{/if}}
        </div>
        <div class="resource">
            <label class="resource-label">Circle</label>
            <input type="number" name="system.circle" value="{{ idata.circle }}" data-dtype="Number" />
        </div>
    </div>
    {{> item_standard_partial}}
    {{> item_esoteric_combat_partial}}
</div>

{{/item_layout_partial}}
