{{#> item_layout_partial container=true }}

<div class="grid grid-fixed-row grid-3col">
    {{> item_quantity_partial}}
    {{> item_weight_partial}}
    {{> item_value_partial}}
</div>
<div class="grid grid-fixed-row grid-3col">
    <div
        class="resource"
        id="weapongear-quality">
        <label
            for="system.weaponQuality"
            class="resource-label">
            Weapon Quality
        </label>
        <input class="value" type="number" id="system.weaponQuality" name="system.weaponQuality" value="{{ idata.weaponQuality }}"
        data-dtype="Number" {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="weapongear-attack">
        <label
            for="system.attack"
            class="resource-label">
            Attack
        </label>
        <input class="value" type="number" id="system.attack" name="system.attack" value="{{ idata.attack }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="weapongear-defense">
        <label
            for="system.defense"
            class="resource-label">
            Defense
        </label>
        <input class="value" type="number" id="system.defense" name="system.defense" value="{{ idata.defense }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
</div>
<div class="grid grid-fixed-row grid-3col">
    <div
        class="resource"
        id="weapongear-wq-mod">
        <label
            for="system.wqModifier"
            class="resource-label">
            WQ Modifier
        </label>
        <input class="value" type="number" id="system.wqModifier" name="system.wqModifier" value="{{ idata.wqModifier }}"
        data-dtype="Number" {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="weapongear-attack-mod">
        <label
            for="system.attackModifier"
            class="resource-label">
            Attack Modifier
        </label>
        <input class="value" type="number" id="system.attackModifier" name="system.attackModifier" value="{{ idata.attackModifier }}"
        data-dtype="Number" {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
</div>
<div class="grid grid-fixed-row grid-3col">
    <div
        class="resource"
        id="weapongear-blunt">
        <label
            for="system.blunt"
            class="resource-label">
            Blunt
        </label>
        <input class="value" type="number" id="system.blunt" name="system.blunt" value="{{ idata.blunt }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="weapongear-edged">
        <label
            for="system.edged"
            class="resource-label">
            Edged
        </label>
        <input class="value" type="number" id="system.edged" name="system.edged" value="{{ idata.edged }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
    <div
        class="resource"
        id="weapongear-piercing">
        <label
            for="system.piercing"
            class="resource-label">
            Piercing
        </label>
        <input class="value" type="number" id="system.piercing" name="system.piercing" value="{{ idata.piercing }}" data-dtype="Number"
        {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
    </div>
</div>
<div class="grid grid-fixed-row grid-3col">
    <div
        class="resource"
        id="weapongear-assocskill">
        <label
            for="system.assocSkill"
            class="resource-label">
            Associated Skill
        </label>
        {{#if hasCombatSkills}}
        <select
            class="resource-value"
            id="system.assocSkill"
            name="system.assocSkill"
            data-dtype="String">
            {{selectOptions combatSkills selected=idata.assocSkill valueAttr="key" labelAttr="key"}}
        </select>
        {{else}}
        <input
            class="value"
            type="text"
            id="system.assocSkill"
            name="system.assocSkill"
            value="{{ idata.assocSkill }}"
            data-dtype="String" />
        {{/if}}
    </div>
</div>
{{> item_standard_partial}}
{{> item_unknown_value_partial}}
{{> item_artifact_partial}}

{{/item_layout_partial}}
